# Python cache
__pycache__/
*.pyc
*.pyo

# Environments
.venv/
env/
segmentation/

# Logs and outputs
runs/
*.log
*.pth
*.pt

# OS files
.DS_Store
Thumbs.db

dataset_raw/
runs/
*.pth
*.pt
*.log
*.zip
*.tar
*.nii
*.dcm

# Ignore datasets and raw data
dataset/
dataset_raw/
dataset_split/

# Ignore checkpoints and results
checkpoints/
runs/

# Ignore images and masks inside datasets
*.jpg
*.png
*.jpeg
*.tif
*.bmp

# Ignore model weights
*.pth


